@inherits UmbracoViewPage

@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    var navigationItems = homePage.MainNavigation;
}
<!-- Navigation-->
@* sticky-top *@
<nav class="navbar navbar-expand-lg bg-white shadow ">
  <div class="container-fluid row">
    <div class="col-5">
      <a class="navbar-brand" href="#"><img src="@homePage.ImageLogo.Url()" alt="@homePage.ImageLogo.Name"></a>
    </div>

      <button class="navbar-toggler col-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse justify-content-end col-6" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 me-lg-0 mb-lg-0">
        @if(navigationItems != null && navigationItems.Any()){
            foreach(var item in navigationItems){

              var hasChildLinks = item.ChildLink != null && item.ChildLink.Any();
              if(hasChildLinks) {
                <li class="nav-item dropdown">
                  <a id="prueba" class="nav-link px-lg-3 py-3 py-lg-4 fw-bold text-uppercase position-relative" href="@homePage.Url()" id="@item.Key" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @item.Title
                  </a>
                  <ul id="submenu" class="dropdown-menu border-0 shadow border border-danger border-top border-2" aria-labelledby="@item.Key">
                    @foreach(var childLink in item.ChildLink) {
                      <li>
                          <a class="dropdown-item text-uppercase fw-bold text-wrap" href="@childLink.Url" target="@childLink.Target">@childLink.Name</a>
                      </li>
                    }
                  </ul>
                </li>
              } else {
                <li class="nav-item">
                  <a id="prueba" class="nav-link px-lg-3 py-3 py-lg-4 fw-bold text-uppercase" href="@homePage.Url()">@item.Title</a>
                </li>
              }
            }
        }
      </ul>
    </div>

    <div class="col-1">
      <a href="#"><img src="@homePage.ImageLupa.Url()" alt="@homePage.ImageLupa.Name" style="width: 100px; heigth: 100px;"></a>
    </div>
  </div>
</nav>