@* @inherits UmbracoViewPage<BlockListItem> *@

@{
  var row = (ImageItemsRow)Model.Content;
  var settings = (ImageRowSettings)Model.Settings;
  if(settings?.Hide ?? false) {return;}
  if(row.ImageItems == null || !row.ImageItems.Any()) return;
}

<div class="container-fluid">
    <h2 class="text-center text-uppercase">@row.Title</h2>
    <div class="row" style="overflow: hidden;">
      @foreach(var item in row.ImageItems){
        var rowItem = (ImageLinkItem)item.Content;

        <div class="col-4 position-relative beta beta-prueba">
            <div class="prueba-beta">  
              <img src="@rowItem.Image.Url()" alt="@rowItem.Image.Name"> 
              <div class="position-link">
                <a href="@rowItem.Link.Url" target="@rowItem.Link.Target" class="text-decoration-underline fs-3 text-white text-uppercase">@rowItem.Link.Name</a>
              </div>
            </div>
        </div> 
      }
    </div>
</div>